* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html, body {
    width: 100%;
    height: 100%;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
  }

  #map {
    width:100%;
    height:100%;
    position: absolute;
    top: auto;
    left: 0px;
  }
  /* header */
  header{
    background-color: white;
  }
  li{
    list-style: none;
  }
  a{
    color: black;
    text-decoration: none;
  }
  .navbar1{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
  } 
  .nav-branding{
    font-size: 2rem;
  }
  .nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
  }
  .nav-link{
    transition: 0.3s ease-out;
  } 
  .nav-link:hover{
    color: white;
  }
  .hamburger{
    display: none;
    cursor: pointer;
  }
  .bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: #00fa7e;
  }
  
  main {
    margin: 0 auto;
  } 
  /* Footer*/
  .sticky-footer{
    position: sticky;
    top: 100%;
  }
  .nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    box-shadow: 0 0 3px black;
    background-color: white;
    display: flex;
    overflow-x: auto;
  }
  .nav__text {
    color: black;
  }
  .nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    height: 60px;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 10px;
    color: black;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
  }
  .nav__link:hover {
    background-color: #00fa7e;
  }
  .nav__link--active {
    color: #c1cebf;
  }
  .nav__icon {
    font-size: 10px;
  }
   /* Footer*/
  @media only screen and (max-width:800px){
    .navbar .desktop-list{
      display: none;
    }
    .sticky-footer{
      display: block;
      position: fixed;
      bottom: 0;
      left: 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      padding: 10px;
    }
    .ctn {
      padding: 8px 20px;
      background-color: black;
      border-radius: 50px;
    }
    .sticky-footer a {
      font-size: 20px;
    }
    .navbar{
      padding: 5px 20px;
      display: flex;
      width: 100%;
      align-items: center;
    }
  }
  /* header */
  @media(max-width:768px){
    .hamburger{
      display: block;
    }
    .hamburger.active .bar:nth-child(2){
      opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
      position: fixed;
      left: -100%;
      top: 70px;
      gap: 0;
      flex-direction: column;
      background-color: white;
      width: 100%;
      text-align: center;
      transition: 0.3s;
      z-index: 1;
    }
    .nav-item{
      margin: 16px 0;
    }
    .nav-menu.active{
      left: 0;
    }
  }