{% extends "layout.html" %}

{% block main %}
<form action="/changepassword" method="POST" class="sign-up-right">
<div>
    <label class="sign-up-label">Old Password</label>
    <input name="oldpassword" type="password" class="sign-up-input" id="myInput" required>
</div>
<div>
    <label class="sign-up-label">New Password</label>
    <input name="newpassword" type="password" class="sign-up-input" id="myInput" required>
</div>
<div>
    <label class="sign-up-label">Confirm New Password</label>
    <input name="confirmation" type="password" class="sign-up-input" id="myInput1" required>
    <input class="box-password" type="checkbox" onclick="myFunction()"> Show Password
</div>

<div>
  <button type="submit" class="sign-up-button">Submit</button>
</div>

</form>
<script>
    function myFunction() {
      var x = document.getElementById("myInput");
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }
    }
</script>





{% endblock %}