{% extends "layout.html" %}

{% block head %}


<script type="text/javascript" defer>


    if(navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(findLocation,onGeoError);
    } else {
        alert("No GPS support");
    }
        
    function findLocation(position) {
        document.getElementById("latitude").value=position.coords.latitude;
        document.getElementById("longitude").value=position.coords.longitude;
    }

    function onGeoError(event) {
        alert("Error code " + event.code + ". " + event.message);
    }
</script>   

{% endblock %}

{% block main %}

    <form action="/foundanimal" method="POST"  class="sign-up-right" enctype="multipart/form-data">
        <div>
            <div class="sing-up-title1">
                <p>Add Listing:</p>
            </div>      
            <input id="file" type="file" name="file">
        </div>
        <input id="latitude" name="latitude" type="hidden" value="" required>
        <input id="longitude" name="longitude" type="hidden" value="" required>
        <div>
            <label class="sign-up-label">Name</label>         
            <input name="name" type="text" class="sign-up-input" required>
        </div>
    <div>
        <label class="sign-up-label">City</label>
        <input id="location" name="location" type="text" required class="sign-up-input">
   
    <div>
        <div>
            <label class="sign-up-label">Info</label>         
            <input name="info" type="text" class="sign-up-input" required>
        </div>
        <div>
            <button type="submit" class="sign-up-button3">Submit</button>
            <label for="file" class="sign-up-button2">
                Add Image
           </label>
           <input name="file" id="file" type="file"/>
        </div>


    </form>


{% endblock %}