{% extends "layout.html" %}

{% block head %}

<script async defer src="https://maps.googleapis.com/maps/api/js?key={{MAPS_API}}&callback=initMap"
type="text/javascript"></script>
<script type="text/javascript">

    window.onload = function() {
        if(!window.location.hash) {
            window.location = window.location + '#loaded';
            window.location.reload();
        }
    }

    if(navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(initMap,onGeoError);
    } else {
        alert("No GPS support");
    }
    
    function initMap(position) {

        var googleMarker = [];

        map = new google.maps.Map(document.getElementById('map'), {
            mapId: "{{MAP_ID}}",
            center: {lat: position.coords.latitude, lng: position.coords.longitude},
            zoom: 16
        });

        {% for i in range(0,len) %}
        googleMarker[{{i}}] = new google.maps.Marker({
            position: {lat: {{markers[i][1]}}, lng: {{markers[i][2]}}},
            map,
            icon: {
                url: "{{markers[i][0]}}",
                scaledSize: new google.maps.Size(65, 80)
            },
            animation: google.maps.Animation.DROP
        });

        var infowindow = new google.maps.InfoWindow({
            content: "{{markers[i][3]}}",
        });

        google.maps.event.addListener(googleMarker[{{i}}], "click", () => {
            infowindow.open(map, googleMarker[{{i}}]);
        });
        {% endfor %}
    }

    function onGeoError(event) {
      alert("Error code " + event.code + ". " + event.message);
    }
</script>       

{% endblock %}


{% block main %}

<div class="container">
    <div id="map" style="width:100%; height:87%; margin-top: 17%;"></div>
</div>

{% endblock %}
