<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    
        
        <link href="../static/images/favicon.ico" rel="icon">

        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/style.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <title>RooForABuddy</title>

        {% block head %}{% endblock %}
    </head>
    <body class="background-image">
      <header>
        <nav class="navbar1">
          <a href="/" class="nav-branding"><img width="75%" height="75%" src="..\static\images\full logo v2.png" alt="header image"></a>
          <ul class="nav-menu">
            {% if session.user_id %}
            <li class="nav-item">
              <a href="/changeemail" class="nav-link">Change email</a>
            </li>
            <li class="nav-item">
              <a href="/changepassword" class="nav-link">Change password</a>
            </li>
            <li class="nav-item">
              <a href="/changetelephone" class="nav-link">Change telephone</a>
            </li>
          </ul>
          <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
            {% else %}
            <li class="nav-item">
              <a href="/login" class="nav-link">Login</a>
            </li>
            <li class="nav-item">
              <a href="/register" class="nav-link">Register</a>
            </li>
          </ul>
          <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
          {% endif %}
        </nav>
      </header>
        <script src="..\static\script.js"></script>
        <main>
            {% block main %}{% endblock %}
        </main>    
        <footer class="sticky">
            <nav class="nav">
              <a href="/" class="nav__link nav__link--active">
                <i class="material-icons nav__icon">home</i>
                <span class="nav__text">Map</span>
              </a>
              <a href="/foundanimal" class="nav__link nav__link--active">
                <i class="material-icons nav__icon">search</i>
                <span class="nav__text">Found animal</span>
              </a>
              <a href="/lostpets" class="nav__link nav__link--active">
                <i class="material-icons nav__icon">person</i>
                <span class="nav__text">Lost pets</span>
              </a>
            </nav>
          </footer>
    </body>
</html>