{% extends "layout.html" %}

{% block main %}


    <form action="/login" method="POST"  class="sign-up-right">
        <p class="sing-up-title">Login</p>
        <p class="sign-up-desc">
            New user? <a class="sign-up-link" href="/register">Register here</a>
        <div>
        <div>
            <label class="sign-up-label">Username</label>         
            <input name="username" type="text" class="sign-up-input" required>
        </div>
        <div>
            <label class="sign-up-label">Password</label>
            <input name="password" type="password" class="sign-up-input" id="myInput" required>
            <input class="box-password" type="checkbox" onclick="myFunction()"> Show Password

<script>
function myFunction() {
  var x = document.getElementById("myInput");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>

        </div>
        <div>
            <button type="submit" class="sign-up-button">Login</button>
        </div>


    </form>


{% endblock %}