{% extends "layout.html" %}

{% block main %}

<div class="sign-up-containe">
    <form action="/login" method="POST"  class="sign-up-right">
        <p class="sign-up-desc">
            New user? <a class="sign-up-link" href="/register">Register here</a>
        <div>
        <div>
            <label class="sign-up-label">Username</label>         
            <input name="username" type="text" class="sign-up-input" required>
        </div>
        <div>
            <label class="sign-up-label">Password</label>
            <input name="password" type="password" class="sign-up-input" required>
        </div>
        <div>
            <button type="submit" class="sign-up-button">Login</button>
        </div>


    </form>
</div>

{% endblock %}