{% extends "layout.html" %}

{% block main %}

    

    <div class="sing-up-title">
        <p>List of lost pets:</p>
    </div>
    {% for i in range(0,len) %}
    <a href="#">
    <div class="border_">
        <div class="image_place">
        <img class="image_" src="{{pets[i][1]}}" alt="Zoo">
        </div>
    
    
    <div class="info">
        <h3 id="name">Name</h3>
        <p>{{pets[i][3]}}<br><b>Telephone number: </b><br><a href="tel:{{tels[i]}}">{{tels[i]}}</a></p>
    </div>
    </div>
    </a>
    {% endfor %}

    <button type="submit" class="sign-up-button"><a href="/lostpet">Add</a></button>
{% endblock %}