{% extends "layout.html" %}

{% block main %}

    <p>List your lost pet <a href="/lostpet">here</a>!</p>

    <div class="sing-up-title">
        <p>List of lost pets:</p>
    </div>

    {% for i in range(0,len) %}

    <div class="border_">
        <div class="image_place">
        <img class="image_" src="{{pets[i][1]}}" alt="Zoo">
    </div>
    
    
    <div class="info">
        <h3 id="name">Name</h3>
        <p>{{pets[i][3]}}<br><b>Telephone number: </b><br><a href="tel:{{tels[i]}}">{{tels[i]}}</a></p>
    </div>
    </div>
    
    {% endfor %}

{% endblock %}