<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lost Pets</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu" />
</head>
<body>

    <h2>Header</h2>
    <div class="sing-up-title">
        <p>Info about animals</p>
    </div>

    <div class="border_">
            <div class="image_place">
            <img class="image_" src="images (2).jpg" alt="Zoo">
        </div>
    
    
        <div class="info">
            <h3 id="name">Name</h3>
            <p>I have a pet dog named Jacky. It is a very beautiful faithful dog. it always accompanies me wherever I go. One day, I went to a. </p>
        </div>
    </div> 

</body>
</html>