<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>RooforABuddy</title>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
  <!---->
</head>   

<body>
  <div class="header">
    <nav class="navbar">
      <h1 class="logo">RooforABuddy</h1>
      <ul class="desktop-list" style="list-style: none;">
        <li><a href="#">Contact us</a></li>
        <li class="ctn"><a href="#">About</a></li>
      </ul>
    </nav>
  </div>
  <main>
    

  </main>  
  <footer class="sticky-footer">
    <nav class="nav">
      <a href="#" class="nav__link nav__link--active">
        <i class="material-icons nav__icon">home</i>
        <span class="nav__text">Home</span>
      </a>
      <a href="#" class="nav__link nav__link--active">
        <i class="material-icons nav__icon">settings</i>
        <span class="nav__text">Settings</span>
      </a>
      <a href="#" class="nav__link nav__link--active">
        <i class="material-icons nav__icon">person</i>
        <span class="nav__text">Profile</span>
      </a>
    </nav>
  </footer>
 </body>  
</html>






