{% extends "layout.html" %}

{% block main %}

<div class="sign-up-container">
    <div class="sign-up-right">
        <h1 class="sign-up-title">RooForABuddy</h1>
        <p class="sign-to-desc">
            by TechKor
        </p>
        <p class="sign-up-desc">
            Already have a account? <a class="sign-up-link" href="/login">Login here</a>
        <div>
            <label for="inpName" class="sign-up-label">Name</label>         
            <input type="text" class="sign-up-input">
        </div>
        <div>
            <label for="inpEmail" class="sign-up-label">Email Address</label>
            <input type="email" class="sign-up-input">
        </div>
        <div>
            <label for="inpPassword" class="sign-up-label">Password</label>
            <input type="password" class="sign-up-input">
        </div>
        <div>
            <button type="submit" class="sign-up-button">Sign up</button>
        </div>


    </div>
</div>

{% endblock %}