{% extends "layout.html" %}

{% block main %}


    <form action="/register" method="POST"  class="sign-up-right">
        <p class="sing-up-title">Register</p>
        <div>
            <label class="sign-up-label">Username</label>         
            <input name="username" type="text" class="sign-up-input" required>
        </div>
        <div>
            <label class="sign-up-label">Email Address</label>
            <input name="email" type="email" class="sign-up-input" required>
        </div>
        <div>
            <label class="sign-up-label">Full Name</label>         
            <input name="fullName" type="text" class="sign-up-input" required>
        </div>
        <div>
            <label class="sign-up-label">Telephone</label>         
            <input name="telephone" type="tel" class="sign-up-input" required>
        </div>
        <div>
            <label class="sign-up-label">Password</label>
            <input name="password" type="password" class="sign-up-input" id="myInput" required>
        </div>
        <div>
            <label class="sign-up-label">Confirm Password</label>
            <input name="confirmation" type="password" class="sign-up-input" id="myInput1" required>
            <input class="box-password" type="checkbox" onclick="myFunction()"> Show Password
        </div>
        <div>
            <button type="submit" class="sign-up-button">Sign up</button>
        </div>
        <script>
            function myFunction() {
              var x = document.getElementById("myInput");
              if (x.type === "password") {
                x.type = "text";
              } else {
                x.type = "password";
              }
            }
        </script>


     
</form>



{% endblock %}