{% extends "layout.html" %}

{% block main %}

<div class="sign-up-container">
    <form action="/register" method="POST"  class="sign-up-right">
        <div>
            <label class="sign-up-label">Username</label>         
            <input name="username" type="text" class="sign-up-input">
        </div>
        <div>
            <label class="sign-up-label">Email Address</label>
            <input name="email" type="email" class="sign-up-input">
        </div>
        <div>
            <label class="sign-up-label">Full Name</label>         
            <input name="fullname" type="text" class="sign-up-input">
        </div>
        <div>
            <label class="sign-up-label">Telephone</label>         
            <input name="telephone" type="tel" class="sign-up-input">
        </div>
        <div>
            <label class="sign-up-label">Password</label>
            <input name="password" type="password" class="sign-up-input">
        </div>
        <div>
            <label class="sign-up-label">Confirm Password</label>
            <input name="confirmation" type="password" class="sign-up-input">
        </div>
        <div>
            <button type="submit" class="sign-up-button">Sign up</button>
        </div>


    </form>
</div>

{% endblock %}